<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AI Chat Bot</title>
</head>

<body>
    <div class="relative isolate overflow-hidden bg-white">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
            <defs>
                <pattern id="pattern-background" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                    <path d="M.5 200V.5H200" fill="none" />
                </pattern>
            </defs>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#pattern-background)" />
        </svg>
        <div class="container mx-auto sm:h-screen w-screen flex flex-col sm:flex-row justify-center items-center px-6 pb-24 pt-10 sm:pb-32 lg:px-20 lg:py-20">
            <div class="max-w-2xl text-center sm:text-left lg:flex-shrink-0 lg:pt-8">
                <h1 class="mt-10 text-4xl font-bold tracking-tight text-green-900 sm:text-6xl">AI Chat Bot</h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">Extract Questions & Answers from PDF documents</p>
                
                <form action="/process" method="post" enctype="multipart/form-data" class="mt-10">
                    <div class="flex flex-col sm:flex-row gap-x-6 items-start">
                        <input type="file" name="pdf_docs" id="pdf_docs" accept=".pdf" multiple required
                            class="my-2 text-sm font-semibold leading-6 text-gray-900 border py-2 px-4 rounded-2xl w-full
                            text-slate-500 border-l-green-300 border-t-blue-500/30 border-r-purple-600/40 border-b-purple-500/30
                            file:mr-4 file:py-2 file:px-4
                            file:rounded-full file:border-0
                            file:text-sm file:font-semibold
                            file:bg-blue-50 file:text-blue-400
                            hover:file:bg-blue-100" />
                        <button type="submit"
                            class="my-2 bg-gradient-to-bl from-green-300 via-blue-500 to-purple-600 px-8 py-2.5 text-sm font-semibold text-white rounded-2xl shadow-sm hover:bg-blue-500/90 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            Process
                        </button>
                    </div>
                </form>
            </div>
            <div class="mt-16 lg:ml-10 lg:mr-0 lg:mt-0">
                <img src="https://res.cloudinary.com/dtsuvx8dz/image/upload/v1709048322/o3ad4w8hedswhwymbhr9.png" alt="App screenshot" class="w-2/3 sm:w-[23rem] sm:h-[28rem] rounded-md drop-shadow-2xl">
            </div>
        </div>
    </div>
</body>

</html>
